<!DOCTYPE html>
<html>

<head>
    <title>GitHub Commits</title>
    <script src="https://unpkg.com/vue"></script>
    <style>
        #demo {
            font-family: "Helvetica", Arial, sans-serif;
        }

        a {
            text-decoration: none;
            color: #f66;
        }

        li {
            line-height: 1.5em;
            margin-bottom: 20px;
        }

        .author,
        .date {
            font-weight: bold;
        }
    </style>
</head>

<body>
    <div id="demo">
        <input type="text" v-model="githubUser" placeholder="请输入github的用户名">
        <input type="text" v-model="githubRepo" placeholder="请输入github的仓库名">
        <button type="submit" @click="changeUserRepo">获取commits</button>
        <h1>Latest {{githubUser}}/{{githubRepo}} Commits</h1>
        <template v-for="branch in branches">
            <input type="radio" :id="branch" :value="branch" name="branch" v-model="currentBranch" />
            <label :for="branch">{{ branch }}</label>
        </template>
        <p>{{githubRepo}} <svg text="gray" height="16" class="octicon octicon-git-branch text-gray" viewBox="0 0 16 16"
                version="1.1" width="16" aria-hidden="true">

                <path fill-rule="evenodd"
                    d="M11.75 2.5a.75.75 0 100 1.5.75.75 0 000-1.5zm-2.25.75a2.25 2.25 0 113 2.122V6A2.5 2.5 0 0110 8.5H6a1 1 0 00-1 1v1.128a2.251 2.251 0 11-1.5 0V5.372a2.25 2.25 0 111.5 0v1.836A2.492 2.492 0 016 7h4a1 1 0 001-1v-.628A2.25 2.25 0 019.5 3.25zM4.25 12a.75.75 0 100 1.5.75.75 0 000-1.5zM3.5 3.25a.75.75 0 111.5 0 .75.75 0 01-1.5 0z">
                </path>
            </svg>{{ currentBranch }}</p>
        <ul>
            <li v-for="record in commits">
                <a :href="record.html_url" target="_blank" class="commit">{{ record.sha.slice(0, 7) }}</a>
                - <span class="message">{{ record.commit.message | truncate }}</span><br />
                by
                <span class="author"><a :href="record.author.html_url"
                        target="_blank">{{ record.commit.author.name }}</a></span>
                at
                <span class="date">{{ record.commit.author.date | formatDate }}</span>
            </li>
        </ul>
    </div>

    <script>


        /**
         * Actual demo
         */

        var demo = new Vue({
            el: "#demo",

            data: {
                branches: ["master", "dev"],
                githubRepo: 'wgytcdx.github.io',
                githubUser: 'wgytcdx',
                currentBranch: "master",
                commits: null,
            },

            created: function () {
                this.fetchData();
            },

            watch: {
                currentBranch: "fetchData"
            },

            filters: {
                truncate: function (v) {
                    var newline = v.indexOf("\n");
                    return newline > 0 ? v.slice(0, newline) : v;
                },
                formatDate: function (v) {
                    return v.replace(/T|Z/g, " ");
                }
            },

            methods: {
                changeUserRepo: function () {
                    var self = this;
                    self.fetchData();
                },
                fetchData: function () {
                    var xhr = new XMLHttpRequest();
                    var self = this;
                    var apiURL = "https://api.github.com/repos/" + self.githubUser + "/" + self.githubRepo + "/commits?per_page=10&sha=";
                    xhr.open("GET", apiURL + self.currentBranch);
                    xhr.onload = function () {
                        self.commits = JSON.parse(xhr.responseText);
                        console.log(self.commits[0].html_url);
                    };
                    xhr.send();
                }
            }
        });
    </script>
</body>

</html>